body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}
.box{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:left;
  }
  .id{
    height: 20%;
  }
  label{
      color: gold;
      
  }
.navbar-brand{
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: ivory;
}


.form-group{
    margin: 0;
    box-sizing: border-box;
}


.footer {
  background:#34495e ;
  color: antiquewhite;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;

}
.h2, h2,p {
  font-size: 1rem;
}
    
    

@media screen and (min-width: 650px) {
    nav, article{ 
      width: 100%;
      height: auto;
    }
  }