.resume-rigt-col {
    background: #27221f;
    color: whitesmoke;
    padding: 2em;
}
.resume-left-col {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
