.contact-body {
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #6dd5ed,
        #2193b0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #6dd5ed,
        #2193b0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}
.contact-grid {
    text-align: center;
    justify-content: center;
    height: 10%;
    background: whitesmoke;
    color: black;
    margin-bottom: 20px;
}
.contact-grid h2 {
    font-family: "Anton", sans-serif;
}
.contact-grid p {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}
.contact-grid hr {
    border-top: 5px dotted purple;
    width: 50%;
    margin: auto;
}
.container-list i {
    font-size: 36px;
    padding-right: 50px;
    display: flex;
    text-align: center;
}
